// Format NBLE URL help text list as single value.
.description[id^="edit-nble-url-"] {
  ul {
    margin-left: 0 !important;

    li {
      margin: 0 !important;
      list-style: none;
    }
  }
}
// Hide contributor delete.
#contributors-values {
  div[class$="form-delete"] {
    visibility: hidden;
  }
}

// Hide text formatting panels in IEF.
.ief-form .js-text-format-wrapper .js-filter-wrapper {
  display: none;
}

// Remove bottom margin to match help text fields on slide URL.
#node-nbbib-slide-form,
#node-nbbib-slide-edit-form {
  .form-item--field-link-to-0-title {
    margin-bottom: 0;
  }
}
