@import 'import';

/* Subtheme styles */
html {
  font-family: libre-franklin, arial, sans-serif !important;
  font-weight: 500;
  line-height: 140%;
  font-size: 18px;
  * {
    box-shadow: none !important;
  }
  h1, .site-title {
    font-weight: 700;
    font-size: 30px !important;
    padding: 0 0 15px 0;
    border-bottom: 1px solid $base-300;
  }
  h2 {
    font-weight: 700;
    font-size: 26px;
    padding: 0 0 15px 0;
    border-bottom: 1px solid $base-300;
  }
  h3 {
    font-weight: 700;
    font-size: 24px;
    padding: 0 15px;
    border-bottom: 1px solid $base-300;
  }
  h4 {
    font-weight: 700;
    font-size: 21px;
    padding: 0 15px;
    border-bottom: 1px solid $base-300;
  }
  h5 {
    font-weight: 700;
    font-size: 18px;
    padding: 0 15px;
    border-bottom: 1px solid $base-300;
  }
  h6 {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.09rem; /* 9% */
    color: $base-700;
    padding: 0 15px;
  }
  .text-xxl {
    font-size: 30px;
  }
  .text-xl {
    font-size: 27px;
  }
  .text-l {
    font-size: 21px;
  }
  .text-base {
    font-size: 18px;
  }
  .text-s {
    font-size: 15px;
  }
  .text-xs {
    font-size: 12px;
  }
  input[type="checkbox"] {
    margin-right: .5rem;
    height: 1rem;
    width: 1rem;
  }
  .btn:hover,
  .btn:focus {
    border-color: $link-hover !important;
    background-color: $link-hover !important;
    text-decoration: initial !important;
    color: $light !important;
  }
  .ui-dialog {
    border-radius: 1rem !important;
    width: 500px;
    .ui-dialog-titlebar {
      border-radius: 1rem 1rem 0 0 !important;
      button.ui-dialog-titlebar-close:before {
        position: relative;
        left: -3rem;
        top: -.15rem;
        content: "Close";
      }
    }
    .ui-dialog-content {
      padding: 1em 1em;
    }
    #drupal-modal {
      svg {
        display: none;
      }
      .view-content {
        margin: 1rem 0 2rem 0;
        li {
          margin: 0 !important;
        }
        .views-field {
          padding-left: 1rem;
          border-left: 1px solid $base-200;
        }
      }
      #cite {
        text-decoration: none !important;
        color: $light !important;
        svg {
          display: inline-block;
          margin-left: .4rem;
        }
      }
    }
  }
  body.path-frontpage {
    header {
      .region-nav-branding {
        margin-top: .5rem !important;
        .site-title,
        .site-slogan {
          svg {
            fill: $primary !important;
          }
        }
        &:hover, *:hover , &:focus, *:focus {
          cursor: auto !important; 
        }
      }
      nav.navbar {
        .container.d-flex {
          margin-top: .5rem;
          margin-left: -.8rem;
          padding: 0 0 .75rem 0 !important;
          #navbarSupportedContent {
            margin-top: .5rem !important;
          }
        }
      }
    }
    main {
      > .container {
        .order-1 {
          margin-left: 0;
          width: 100%;
          .region-content {
            padding: 0;
            #block-bs5-nbbib-lib-unb-ca-views-block-nbbib-slideshow-block-1 {
              margin: 6rem 0 4rem 0;
              div[data-block="content"] {
                position: relative;
                .owl-stage {
                  display: flex;
                  column-gap: 2rem;
                  .owl-item {
                    display: flex;
                    justify-content: center;
                    a {
                      display: flex;
                    }
                    img {
                      display: flex;
                      border-radius: .5rem;
                    }
                  }
                }
                #fade-overlay {
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  top: 0;
                  left: 0;
                  z-index: 100;
                  // $light = rgba(255, 249, 232, 1) but function must be used.
                  background-image: linear-gradient(
                    to right, 
                    rgba(255, 249, 232, 1), 
                    rgba(255, 249, 232, 0) 5%,
                    rgba(255, 249, 232, 0) 95%,
                    rgba(255, 249, 232, 1) 100% 
                  );
                }
                #fade-overlay-left {
                  width: 5%;
                  height: 100%;
                  position: absolute;
                  top: 0;
                  left: 0;
                  z-index: 100;
                  background-image: linear-gradient(to left,
                      rgba(255, 249, 232, 0) 50%,
                      rgb(255, 249, 232) 100%)
                }
                #fade-overlay-right {
                  width: 5%;
                  height: 100%;
                  position: absolute;
                  top: 0;
                  right: 0;
                  z-index: 100;
                  background-image: linear-gradient(to right,
                      rgba(255, 249, 232, 0) 50%,
                      rgb(255, 249, 232) 100%)
                }
              }
            }
            form#views-exposed-form-nb-bibliography-citations-page-2 {
              width: 66%;
              margin: auto;
              div.form-item-search-api-fulltext {
                position: relative;
                margin: 0;
                width: 80%;
                label[for="edit-search-api-fulltext"] {
                  top: -1.8rem;
                  left: 1rem;
                  font-size: 15px;                    
                  position: absolute;
                  font-weight: 400;
                  color: $primary;
                  transition: all .2s !important;
                  &:has(+ input:not(:focus).empty) {
                    top: 1rem;
                    left: 1rem;
                    font-size: 21px;
                    font-weight: 400;
                    &:hover,
                    &:focus {
                      cursor: pointer;
                      color: $link-hover;
                      transition: color .2s !important;
                    }
                  }
                }
                input#edit-search-api-fulltext {
                  height: 3.4rem;
                  background-color: $light !important;
                  border: 4px solid $primary;
                  border-end-end-radius: 0;
                  border-start-end-radius: 0;
                  &:hover,
                  &:focus {
                    border-color: $link-hover;
                    background-color: $base-50 !important;
                    transition: all .2s !important;
                  }
                }
              }
              #edit-actions {
                display: inline-block;
                margin: 0;
                width: 20%;
                height: 3.4rem;
                input {
                  width: 100%;
                  height: 100%;
                  border-start-start-radius: 0;
                  border-end-start-radius: 0;
                  font-size: 18px !important;
                  font-weight: 600 !important;
                }
              }
            }
            #block-bs5-nbbib-lib-unb-ca-content {
              margin-top: 4rem;
            }          
          }
        }
      }
    }
  }
  body.path-bibliography {
    #block-bs5-nbbib-lib-unb-ca-page-title {
      h1 {
      }
    }
  }
  body.path-yabrm, 
  body.page-node-type-nbbib-essay,
  body.page-node-type-static-content-page:not(.path-frontpage) {
    .block-page-title-block,
    .block-local-tasks-block {
      width: 1014px;
      margin: 0 auto;
    }
    #block-bs5-nbbib-lib-unb-ca-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1014px;
    }
    img {
      border-radius: 1rem;
    }
    .col-sm-4:has(img) {
      padding: 0;
        img {
          width: 100%;
        }
    }
    .field--name-title,
    .nav-tabs {
      margin: 0 auto;
      width: 100%;
      &.field--name-name {
        padding: 0 0 15px 0;
        border-bottom: 1px solid $base-300;
      }
    }
    [role="main"].container {
      padding-left: 0;
    }
    #cite-open {
      padding: .4rem .3rem .4rem .3rem !important;
      line-height: .4rem !important;
      font-size: 15px;
    }
    .yabrm-reference {
      #ref-contribs {
        margin-top: 1.5rem;
      }
      > .container {
        #ref-body {
          padding-right: 5rem;
          h2 {
            font-size: 24px;
          }
          #ref-details {
            padding: 0;
            .row {
              width: 100%;
              margin-left: 0;
              padding-left: 0;
              padding-top: 1rem;
              padding-bottom: 1rem;
              border-bottom: 1px solid $base-150;
              .col-sm-6 {
                padding-left: 0;
                padding-right: 0;
                &:last-of-type {
                  font-weight: 600;
                }
              }
            }
          }
          #ref-description {
          }
        }
        #ref-picture {
          padding: 0;
          img {
            margin-top: 2.4rem;
          }
          #ref-copies b {
            margin-top: 3.05rem;
          }
        }
        div[id] {
          b {
            display: block;
            margin-top: 3rem;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $base-200;
          }
        }
      }
    }
    .yabrm-contributor {
      .container {
        .description-pic {
          --bs-gutter-x: 0;
          #contrib-description {
            padding-right: 5rem;
            .field--name-source {
              * {
                font-size: 15px;
                &:not(a):not(a *) {
                  color: $base-700;
                }
              }
              .field__label {
                font-style: italic;
                font-weight: normal;
              }
            }
            #nb-res-label {
              margin-bottom: .5rem;
              font-size: 15px;
            }
            .archival-header {
              margin-top: 3rem;
              font-size: 24px;
            }
            #archival-container {
              .archival-material {
                padding-bottom: 1rem;
                border-bottom: 1px solid $base-300;
                &:not(:first-of-type) {
                  margin-top: 1rem;
                }
                .archival-collapse {
                  display: block;
                  width: 100%;
                  font-weight: 600;
                  .archival-caret {
                    float: right;
                    font-weight: 100;
                    font-size: 30px;      
                  }
                  &[aria-expanded="false"] {
                    .archival-caret {
                      transform: initial;
                      transition: all .2s !important;
                    }            
                  }
                  &[aria-expanded="true"] {
                    .archival-caret {
                      transform: rotate(180deg);
                      transition: all .2s !important;
                    }            
                  }
                  + [id^="archival-content"] {
                    div {
                      color: $base-700;
                    }
                    p {
                      text-align: start;
                    }
                    .field--name-field-website {
                      a > svg {
                        margin-left: .5rem;
                      }
                    }
                    .field__label {
                      margin-top: 1rem;
                      width: 100%;
                      font-weight: normal;
                      font-size: 15px;
                      &::after {
                        content: ":" !important;
                      }
                    }
                  }
                }
              }
            }
          }
          #contrib-picture {
            > figure {
              margin-bottom: 1rem;
            }
            #nble-logo {
              display: inline-block;
              margin-bottom: 1.8rem;
              border-radius: 0;
              height: 2.6rem;
              width: auto;
            }
            #nble-url {
              display: inline-block;
              top: -2rem;
              width: 76%;
              text-align: start;
              color: $base-700;
            }
            .field--name-pic-credit {
              * {
                font-size: 15px;
                &:not(a):not(a *) {
                  color: $base-700;
                }
              }
              .field__label {
                font-style: italic;
                font-weight: normal;
              }
            }
            .field--name-pic-caption {
              margin-top: 1rem;
            }
          }
        }
        #contributor-works {
          --bs-gutter-x: 0;
          padding-right: 0;
          .works-header {
            margin: 3rem 0;
            padding-left: 0;
            padding-right: 0;
          }
          .views-element-container {
            padding: 0;
            .view-header {
              position: relative;
              top: -5.2rem;
              float: right;
            }
          }
        }
      }
    }
    .yabrm-collection {
      h2 {
        margin-top: 3rem;
        font-size: 24px;
      }
      #search {
        height: fit-content;
        padding-bottom: 1rem;
        background-color: $nbbib-lblue;
        border-radius: 1rem;
        h2 {
          margin-top: 1rem;
          border: none !important;
          font-size: 21px;
        }
        * {
          margin-left: 0;
          margin-right: 0;
        }
        .btn {
          width: 100%;
        }
        p {
          font-size: 15px;
        }
      }
      #essays {
        .essays-header {
          & + ul li {
            padding: .4rem 0;
            border-bottom: 1px solid $base-150;
          }
        }
      }
    }
    .node--type-static-content-page {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  body {
    font-family: libre-franklin, arial, sans-serif !important;
    font-weight: 500;
    line-height: 140%;
    font-size: 18px;  
    background-color: $light !important;
    a {
      text-decoration: none;
    }
    a:target,
    a:hover,
    a:focus {
      text-decoration: underline !important;
      color: $link-hover !important;
    }
    ul {
      padding-left: 0;
      list-style: none;
    }
    select,
    ul.dropdown-menu,
    div.dropbutton-widget {
      background-color: $nbbib-paper-light !important;
      border: 1px solid $base-150 !important;
      a:hover,
      a:focus {
        background-color: $light !important;
      }
      .dropbutton-action {
        a {
          border-radius: 8px;
        }
      }
      .secondary-action {
        border-top: none;
      }
      .dropbutton-toggle {
        .dropbutton-arrow {
          color: $base-700;
        }
      }
    }
    .attachment-before .pager .pagination {
      margin-bottom: 0;
      margin-top: 2rem;
      padding-bottom: 0;
      border-top: none !important;
      border-bottom: 1px solid $base-150;
      .page-link {
        top: 1px !important;
        border-left: none !important;
      }
      li:not(:first-child) {
        .page-link {
          text-transform: uppercase;
        }
      }
    }
    .pager {
      margin-bottom: 1rem;
      .pagination {
        margin-top: 3rem;
        padding-top: 0;
        border-top: 1px solid $base-150;
        .page-item {
          border-radius: 0 !important;
          border: 1px solid transparent;
          .page-link {
            border-radius: 0 !important;
            top: -1px;
            background-color: $light !important;
            border: none;
            border-radius: 0;
            font-size: 15px;
          }
          &:first-of-type a {
            border-right: 1px solid $base-150;
          }
          &:last-of-type a {
            border-left: 1px solid $base-150;
          }
          &.active a {
            color: $body-color;
            font-weight: 600;
          }
        }
      }
    }
    .view-header {
      margin-top: .5rem;
      color: $base-700;
      font-style: italic;
    }
    header {
      padding: 0 1rem;
      border-bottom: 1px $base-150 solid !important;
      nav.navbar {
        padding: 0 1rem;
        justify-content: center;
        .container.d-flex {
          flex-wrap: wrap;
          margin: 1rem 0 0 0;
          padding: 0 0 1rem 0 !important;
          max-width: 1400px;
          .navbar-collapse {
            justify-content: flex-end !important;
          }
          .region-nav-main {
            .nav-item {
              padding-left: 1.4rem;
              .nav-link {
                font-weight: 600;
                font-size: 21px;
                padding: .2rem 0;
                text-decoration: none !important;
                color: $body-color;
                &:active,
                &:target,
                &:hover
                &:focus {
                  text-decoration: none !important;
                  color: $link-hover !important;
                }
                &.is-active {
                  color: $link !important;
                }
                &.dropdown-toggle::after {
                  position: relative;
                  margin-left: .4rem;
                  font-weight: normal;
                  &:hover,
                  &:focus {
                    text-decoration: none !important;
                    border: none !important;
                  }
                }       
                &.dropdown-toggle[aria-expanded="false"]::after {
                  transform: initial;
                  transition: all .2s;
                } 
                &.dropdown-toggle[aria-expanded="true"] {
                  &::after {
                    transform: rotate(180deg);
                    transition: all .2s;
                  }
                  + ul {
                    box-shadow: -2px 4px 12px $base-200 !important;
                  }
                  + ul .is-active {
                    color: $link !important;
                  } 
                }
                &:has(+ ul .is-active) {
                  color: $link !important;
                } 
              }
              &:last-child {
                ul {
                  left: -16rem;
                }
              }
            }
          }
          .region-nav-branding {
            margin-right: 6rem;
            * {
              margin: 0 !important;
              padding: 0 !important;
            }
            #block-bs5-nbbib-lib-unb-ca-contextualbranding {
              text-align: center;
              .navbar-brand {
                .site-title,
                .site-slogan {
                  display: block !important;
                  border: none !important;
                  svg {
                    width: 100%;
                    height: 100%;
                    fill: $base-800;
                  }
                }
                .site-title {
                  svg {
                    width: 60% !important;
                    height: 60% !important;
                  }
                }
                &:hover,
                &:focus {
                  cursor: pointer;
                  svg {
                    fill: $link-hover;
                    transition: fill .2s;
                  }
                }
                h1 {
                  color: $link !important;
                }
                a:active,
                a:focus,
                a:focus-within,
                a:target,
                a:hover {
                  text-decoration: none !important;
                  color: $link-hover !important;
                  transition: color .2s;
                }        
              }
            }
          }
          .navbar-toggler {
            width: 8rem;
            .navbar-toggler-icon {
              float: right;
              &::before {
                vertical-align: sub;
                margin-left: -7rem;
                color: $base-800;
                font-size: 21px;
                font-weight: 600;
                content: "Menu";
              }
            }
          }
        }
      }
    }
    #block-bs5-nbbib-lib-unb-ca-pagetitle {
      margin-bottom: 1rem !important;
      h1 {
        font-size: 30px !important;
      }
    }
    main {
      padding: 0 1rem;
      min-height: calc(100vh - 320px);
      // Breadcrumbs.
      .breadcrumb {
        margin-top: .4rem;
        margin-bottom: 4rem;
        li {
          a, span {
            margin: .5rem !important;
            font-size: 15px;
          }
          span {
            color: $base-700;
          }
          &:not(:first-child) {
            font-weight: 400;
            &::before {
              content: "\203A" !important;
              color: $base-300;
              font-size: 25px;
            }
          }
        }
      }
      #description {
        ul {
          padding-left: 2rem !important;
          list-style: disc;
        }
      }
      #collapseFacets {
        display: none;
        width: 100%;
      }
      .region-sidebar-first {
        margin-top: 4.25rem;
        margin-right: 2rem;
        .block-facets {
          margin-bottom: 3rem;
          h2 {
            font-size: 18px !important;
            color: $base-700;
          }
          ul {
            padding: 0;
            &:has(input[type="checkbox"]) li {
              display: flex;
            }
            .nav-link.ui-slider-line {
              background: $base-300 !important;
            }
            .ui-slider-label {
              color: $primary !important;
            }
            .ui-slider-handle, 
            .ui-widget-content, 
            .ui-slider-range {
              border-radius: 1rem;
              border-color: $base-300;
              background-color: $light;
            }
            .ui-slider-range {
              background-color: $base-300;
            }
            input[type="checkbox"] {
              margin-top: .2rem;
            }
            label {
              vertical-align: text-bottom;
              font-size: 15px;
              color: $base-700;
              &:hover,
              &:focus {
                cursor: pointer;
                text-decoration: underline;
                color: $primary;
                transition: color .2s !important;
              }
            }
          }
          .facets-soft-limit-link {
            font-size: 15px;
            &::after {
              margin-left: .2rem;
              content: "\2304";
              font-weight: 100;
              font-size: 30px;
            }
            &.open::after {
              position: relative;
              top: .7rem;
              margin-left: .2rem;
              content: "\2303";
            }
          }
          .facet-complete-link {
            padding: .4rem .3rem .4rem .3rem !important;
            line-height: .4rem !important;
            font-size: 15px;
          }
        }
      }
      > .container {
        padding: 0 !important;
        background-color: $light !important;
        max-width: 1400px;
        .order-1 {
          .region-content {
            padding: 0;
            #block-bs5-nbbib-lib-unb-ca-page-title {
              max-width: 100%;
              h1 {
                display: flex;
                align-items: baseline;
                font-size: 30px !important;
              }
              .birth-death {
                margin-left: auto;
                font-style: italic;
                color: $base-700;
                font-size: 18px;
                font-weight: normal;
              }
            }
            #block-bs5-nbbib-lib-unb-ca-content {
              margin-top: 3rem;
              &:has(.view-id-nbbib_essays.view-display-id-page_1) {
                margin-top: 0;
              }
              > div > .container {
                padding: 0;
                .row:has(> #ref-contribs) {
                  position: relative;
                  top: -3rem;
                  margin-bottom: 0;
                }
              }
              .node__content {
                ul {
                  list-style: disc;
                  li {
                    margin-left: 2rem;
                  }
                }
                .subnav {
                  margin-top: 2rem;
                  padding-top: 1rem;
                  border-top: 1px solid $base-200;
                  a {
                    display: inline-block;
                    font-weight: 600;
                    &.subnav-prev {
                      &::before {
                        margin-right: .5rem;
                        content: "\00AB";
                      }
                    }
                    &.subnav-next {
                      float: right;
                      &::after {
                        margin-left: .5rem;
                        content: "\00BB";
                      }
                    }
                  }
                }
              }
            }    
            .view-id-nb_bibliography_citations.view-display-id-page_1,
            .view-id-nb_bibliography_citations.view-display-id-page_4 {
              margin-top: 2rem;
              margin-left: 2rem;
              form#views-exposed-form-nb-bibliography-citations-page-1 {
                position: relative;
                height: 10rem;
                div.form-item-search-api-fulltext {
                  position: relative;
                  margin: 0;
                  width: 75%;
                  label[for="edit-search-api-fulltext"] {
                    top: -1.8rem;
                    left: 1rem;
                    font-size: 15px;
                    position: absolute;
                    font-weight: 400;
                    color: $primary;
                    transition: all .2s !important;
                    &:has(+ input:not(:focus).empty) {
                      top: 1rem;
                      left: 1rem;
                      font-size: 21px;
                      font-weight: 400;
                      &:hover,
                      &:focus {
                        cursor: pointer;
                        color: $link-hover;
                        transition: color .2s !important;
                      }
                    }
                  }
                  input#edit-search-api-fulltext {
                    height: 3.4rem;
                    background-color: $light !important;
                    border: 4px solid $primary;
                    border-end-end-radius: 0;
                    border-start-end-radius: 0;
                    &:hover, 
                    &:focus {
                      border-color: $link-hover;
                      background-color: $base-50 !important;
                      transition: all .2s !important;
                    }
                  }
                }
                #edit-actions {
                  display: inline-block;
                  margin: 0;
                  width: 25%;
                  height: 3.4rem;
                  input {
                    width: 45%;
                    height: 100%;
                    font-size: 18px;
                    font-weight: 600;
                    &#edit-submit-nb-bibliography-citations {  
                      border-start-start-radius: 0;
                      border-end-start-radius: 0;
                    }
                  }
                  #edit-submit-nb-bibliography-citations {
                    padding: .3rem 1rem;
                    font-size: 18px !important;
                    &:not(:has(+ #edit-reset)) {
                      width: 100%;
                    }
                  }
                }
                .form-item-sort-by {
                  display: block;
                  position: absolute;
                  top: 10rem;
                  left: 0;
                  right: 0;
                  margin-left: auto;
                  margin-right: 1rem;
                  margin-top: 0;
                  margin-bottom: 0;
                  width: 420px;
                  #edit-sort-by {
                    display: inline-block;
                    margin-left: 1rem;
                    width: 18rem;
                  }
                }
              }
              .view-content {
                margin-top: 2rem;
                padding-top: 2rem;
                border-top: 1px solid $base-200;
                .search-result {
                  margin-top: 2rem;
                  border-bottom: 1px solid $base-200;
                  .views-field-bibliographic-citation {
                    .cite-type {
                      text-wrap: nowrap;
                      color: $base-700;
                      font-style: normal !important;
                      font-size: 15px;
                    }
                  }
                  .views-field-collections-5 {
                    margin-top: .5rem;
                    font-size: 15px;
                    color: $base-700;
                  }
                  &:last-child {
                    border-bottom: none;
                  }
                }
              }
            }
            .views-field-bibliographic-citation .cite-type {
              text-wrap: nowrap;
              color: $base-700;
              font-style: normal !important;
              font-size: 15px;    }
              .view-id-nb_bibliography_citations.view-display-id-page_3 {
                margin-left: 0;
                .views-field-collections-5 {
                  margin-top: .5rem;
                  font-size: 15px;
                  color: #5e5c52;
                }
              }
              .view-id-nb_bibliography_collections.view-display-id-page_1 {
                * {
                  margin-left: 0;
                  margin-right: 0;
                  padding-left: 0;
                  padding-right: 0;
                }
                .item-list {
                  ul {
                    li {
                      &:first-of-type {
                        margin-top: 2rem;
                        padding-top: 1rem;
                        border-top: 1px solid $base-200;
                      }
                      border-bottom: 1px solid $base-200;
                      margin-top: 1rem;
                      margin-bottom: 0;
                      padding-bottom: 1rem;
                    .container {
                      max-width: 100%;
                      width: 100%;
                      .row {
                        h2 {
                          margin-bottom: 0;
                          padding-bottom: 0;
                          border-bottom: none !important;
                          font-size: 21px;
                        }
                        p.h6 {
                          font-size: 12px;
                          float: right;
                        }
                      }
                    }
                    p {
                      margin-bottom: 0;
                      margin-top: .5rem;
                    }
                  }
                }
              }
            }
            .view-id-nb_bibliography_contributors.view-display-id-page_1 {
              form#views-exposed-form-nb-bibliography-contributors-page-1 {
                position: relative;
                margin: auto;
                height: 10rem;
                width: 66%;
                div.form-item-name {
                  position: relative;
                  margin: 0;
                  width: 75%;
                  label[for="edit-name"] {
                    top: -1.8rem;
                    left: 1rem;
                    font-size: 15px;
                    position: absolute;
                    font-weight: 600;
                    color: $primary;
                    transition: all .2s !important;
                    &:has(+ input:not(:focus).empty) {
                      top: 1rem;
                      left: 1rem;
                      font-size: 21px;
                      font-weight: 400;
                      &:hover,
                      &:focus {
                        cursor: pointer;
                        color: $link-hover;
                        transition: color .2s !important;
                      }
                    }
                  }
                  input#edit-name {
                    height: 3.4rem;
                    background-color: $light !important;
                    border: 4px solid $primary;
                    border-end-end-radius: 0;
                    border-start-end-radius: 0;
                    &:hover, 
                    &:focus {
                      border-color: $link-hover;
                      background-color: $base-50 !important;
                      transition: all .2s !important;
                    }
                  }
                }
                #edit-actions {
                  display: inline-block;
                  margin: 0;
                  width: 25%;
                  height: 3.4rem;
                  input {
                    width: 45%;
                    height: 100%;
                    font-size: 18px;
                    font-weight: 600;
                    &#edit-submit-nb-bibliography-contributors {  
                      border-start-start-radius: 0;
                      border-end-start-radius: 0;
                    }
                  }
                  #edit-submit-nb-bibliography-contributors {
                    padding: .3rem 1rem;
                    font-size: 18px !important;
                    &:not(:has(+ #edit-reset)) {
                      width: 100%;
                    } 
                  }
                }
                .form-item-sort-by {
                  display: block;
                  position: absolute;
                  top: 10rem;
                  left: 0;
                  right: 0;
                  margin-left: auto;
                  margin-right: 1rem;
                  margin-top: 0;
                  margin-bottom: 0;
                  width: 420px;
                  #edit-sort-by {
                    display: inline-block;
                    margin-left: 1rem;
                    width: 18rem;
                  }
                }
              }
              .attachment + .view-content {
                margin-top: 2rem;
                column-count: 3;
                column-gap: 4rem;
                .row-contrib {
                  display: inline-block;
                  width: 100%;
                  padding-top: 1rem;
                  padding-bottom: 1rem;
                  border-bottom: 1px solid $base-200;
                  font-size: 18px;
                  .years {
                    float: right;
                    font-size: 12px;
                  }
                }
              }
            }
            .view-id-nb_bibliography_topics.view-display-id-page_1 {
              .view-header {
                margin-top: 2rem;
              }
              .attachment + .view-content {
                margin-top: 2rem;
                column-count: 3;
                column-gap: 4rem;
                .row-topic {
                  display: inline-block;
                  width: 100%;
                  padding-top: 1rem;
                  padding-bottom: 1rem;
                  border-bottom: 1px solid $base-200;
                  a.topic {
                    max-width: 70%;
                    color: $link;
                    font-size: 18px;
                  }
                  .ops {
                    float: right;
                    font-size: 15px;
                    font-weight: lighter;
                    a {
                      color: $base-700;
                    }
                  }
                }
              }
            }
            .view-id-nb_bibliography_collection_essays_header.view-display-id-block_1 {
              margin-top: 2rem;
              .dropbutton-wrapper {
                width: fit-content;
              }
            }
            .view-id-nbbib_essays.view-display-id-page_1 {
              margin-top: 1.5rem;
              .view-header {
                margin-top: 2rem;
              }
              .view-content {
                .item-list {
                  ul {
                    .row-essay {
                      margin-left: 0;
                      padding-top: 1rem;
                      padding-bottom: 1rem;
                      border-bottom: 1px solid $base-200;
                      font-size: 18px;
                    }
                  }
                }
              }
            }
            #edit-reset {
              border-color: $base-800;
              background-color: $base-800;
            }
            .footnote__citation, .footnote__citation-separator {
              position: relative;
              top: -0.28em;
              vertical-align: top;
              font-size: 0.73em;
              display: inline-block;
              padding: 0 1px 0 2px;
            }
            .footnotes.js-footnotes {
              margin: 2rem 0 2rem;
              padding-top: .5rem;
              border-top: 1px solid $base-400;
              .footnotes__item-wrapper.js-footnote-reference {
                grid-template-columns: minmax(auto, .6rem) 1fr;
                margin-left: 0 !important;
                .footnotes__item-backlinks {
                  display: inline-block;
                  min-width: 35px;
                }
                p {
                  margin-bottom: .2rem;
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    margin-bottom: 1rem;
    padding: 0 1rem;
    background-color: $light !important;
    .container {
      margin-top: 3rem;
      max-width: 1400px;
      padding: 0;
      background-color: $light !important;
      opacity: 80%;
    }
    // Footer logo.
    #footer-logo-div {
      width: 48%;
      img {
        width: 260px;
      }
    }
    // Footer copy.
    #footer-copy {
      width: 52%;
      p {
        margin: 0;
        padding-top: .7rem;
        padding-bottom: 0;
        text-align: right;
        font-size: 15px;
        a {
          color: inherit;
        }
      }
    }
  }
}

@media screen and (max-width: 1428px) {
  form#views-exposed-form-nb-bibliography-citations-page-1 {
    width: 100% !important;
    div.form-item-search-api-fulltext,
    div.form-item-name {
      margin-bottom: 1rem !important;
      width: 60% !important;
    }
    #edit-actions {
      width: 40% !important;
    }
  }
  form#views-exposed-form-nb-bibliography-contributors-page-1 {
    width: 100% !important;
    div.form-item-search-api-fulltext,
    div.form-item-name {
      margin-bottom: 1rem !important;
      width: 70% !important;
    }
    #edit-actions {
      width: 30% !important;
    }
  }
}
@media screen and (max-width: 1200px) {
  body:not(.path-frontpage) {
    .form-item-sort-by {
      margin-left: 0 !important;
    }
    form.views-exposed-form {
      height: 14rem !important;
    }
    label[for="edit-search-api-fulltext"],
    label[for="edit-name"] {
      top: -1.8rem !important;
      left: 1rem !important;
      font-size: 15px !important;                    
    }
  }
  #navbarSupportedContent {
    margin-top: 1rem;
    justify-content: flex-start !important;
    .nav-item:first-of-type {
      padding-left: 0;
    }
  }
}
@media screen and (min-width: 639px) and (max-width: 1200px) {
  .view-id-nb_bibliography_topics.view-display-id-page_1,
  .view-id-nb_bibliography_contributors.view-display-id-page_1 {
    .attachment + .view-content {
      column-count: 2 !important;
    }
  }
}
@media screen and (max-width: 991px) {
  body {
    padding: 0 1rem !important;
    header {
      nav {
        .container.d-flex {
          max-width: 596px !important;
          justify-content: center !important;
        }
      }
    }
    header {
      .navbar {
        > .container {
          align-items: center;
          .region-nav-branding {
            margin-right: 0 !important;
          }
          .navbar-toggler {
            margin-top: 1rem !important;
            width: 16.5rem !important;
            .navbar-toggler-icon {
              float: initial !important;
              margin-left: 4rem !important;
            }
          }
        }
      }
    }  
  }
  #block-bs5-nbbib-lib-unb-ca-views-block-nbbib-slideshow-block-1 {
    margin-top: 0 !important;
    height: 280px !important;
    * {
      max-height: 280px !important;
    }
  }
  .view-nb-bibliography-citations,
  .view-nb-bibliography-contributors {
    input, .btn {
      border-radius: 8px !important;
    }
    margin: 0 !important;
    form#views-exposed-form-nb-bibliography-citations-page-1,
    form#views-exposed-form-nb-bibliography-contributors-page-1 {
      width: 100% !important;
      div.form-item-search-api-fulltext,
      div.form-item-name {
        margin-bottom: 1rem !important;
        width: 100% !important;
      }
      #edit-actions {
        display: flex !important;
        justify-content: space-between;
        width: 100% !important;
        input {
          margin: 0 !important;
          width: 49% !important;
        }
        &:not(:has(input + #edit-reset)) {
          input {
            width: 100% !important;
          }
        }
      }
    }
  }
  #navbarSupportedContent {
    max-width: 300px;
    margin-top: 1rem;
    padding-left: 1rem;
    .navbar-nav {
      .nav-item {
        padding-left: 0;
        .nav-link.dropdown-toggle {
          justify-content: flex-start !important;
        }
      }
    }
  }
  nav > .container,
  main > .container,
  footer > .container {
    max-width: 100%;
  }
  #collapseFacets {
    display: block !important;
    margin-bottom: 3rem;
  }
  .region-sidebar-first {
    margin: 2rem 0 0 0 !important;
  }
  main {
    .order-1 {
      order: 2 !important;
    }
    .order-2 {
      order: 1 !important;
    }
  }
  #views-exposed-form-nb-bibliography-citations-page-2 {
    width: 90% !important;
    label[for="edit-search-api-fulltext"] {
      top: -1.8rem !important;
      left: 1rem !important;
      font-size: 15px !important;                    
    }
  }
}
@media screen and (min-width: 483px) and (max-width: 991px) {
  #contrib-description {
    padding-right: 1rem !important;
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  #contrib-picture {
    #nble-logo {
      margin-bottom: .4rem !important;
      height: 2.6rem !important;
      width: auto !important;
    }
    #nble-url {
      width: 100% !important;
    }
  }
}
@media screen and (max-width: 638px) {
  .breadcrumb {
    margin-bottom: 2rem !important;
  }
  .view-id-nb_bibliography_topics.view-display-id-page_1,
  .view-id-nb_bibliography_contributors.view-display-id-page_1 {
    .view-content {
      column-count: 1 !important;
    }
  }
  #contributor-works {
    .views-element-container {
      .view-header {
        position: initial !important;
        float: initial !important;
        margin-top: 0;
        margin-bottom: 1rem;
      }
    }
  }
  footer {
    .container {
      .row.clearfix {
        justify-content: center;
        #footer-logo-div {
          width: fit-content;
        }
        #footer-copy {
          width: 100%;
          p {
            text-align: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  #views-exposed-form-nb-bibliography-citations-page-2 {
    label[for="edit-search-api-fulltext"] {
      left: 0 !important;
      width: 140% !important;
    }
    #edit-submit-nb-bibliography-citations {
      padding: initial !important;
    }
  }
  #contrib-description {
    padding-right: 0 !important;
  }
  .ui-dialog {
    margin: 1rem !important;
    width: 90% !important;
  }
}
@media screen and (max-width: 482px) {
}
@media screen and (max-width: 457px) {
  #views-exposed-form-nb-bibliography-citations-page-2 {
    div.form-item-search-api-fulltext {
      width: 70% !important;
    }
    #edit-actions {
      width: 30% !important;
    }
  }
}
@media screen and (max-width: 390px) {
  form#views-exposed-form-nb-bibliography-citations-page-1,
  form#views-exposed-form-nb-bibliography-contributors-page-1 {
    label[for="edit-search-api-fulltext"],
    label[for="edit-name"] {
      left: 0 !important;
      width: 140% !important;
    }
    div.form-item-search-api-fulltext,
    div.form-item-name {
      width: 70% !important;
    }
    #edit-actions {
      width: 30% !important;
    }
  }
  form#views-exposed-form-nb-bibliography-citations-page-2 {
    * {
      border-radius: 8px !important;
    }
    width: 100% !important;
    div.form-item-search-api-fulltext {
      margin-bottom: 1rem !important;
      width: 100% !important;
    }
    #edit-actions {
      display: flex !important;
      justify-content: space-between;
      width: 100% !important;
      input {
        margin: 0 !important;
        width: 100% !important;
      }
    }
  }
}

@import 'fouc';
