{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}
{% if breadcrumb %}
  <ol class="breadcrumb">
    {% if breadcrumb|first.text != "Node" %}
    <li>
      <a href="/"><i class="fa fa-home"></i></a>
    </li>
    {% endif %}
    {% for item in breadcrumb %}
      {% if (item.text != "Node") %}
        <li {{ item.attributes }}>
          {% if item.url and not loop.last %}
            <a href="{{ item.url }}">{{ item.text }}</a>
          {% else %}
            <span>{{ item.text }}</span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ol>
{% endif %}