<div class="row clearfix">

  <div id="footer-logo-div" class="col-md-6">
    <a href="https://lib.unb.ca">
      <img id="footer-logo-img" class="footer-logo left-block" alt="UNB Libraries logo"
      src="/themes/custom/bs5_nbbib_lib_unb_ca/src/img/unb-libraries-black.png">
    </a>
  </div>

  <div id="footer-copy" class="col-md-6">
    <p>
      All contents © {{ 'now'|date('Y') }} <a href="https://lib.unb.ca">UNB Libraries</a>
    </p>
  </div>
</div>
