// Define new variables.

// UNB colours (2016).
$unb-red: #f00000;
$unb-purple: #573393;
$unb-pink: #ea368e;
$unb-cherry: #d30c55;
$unb-orange: #ec692f;
$unb-mango: #ed8b00;
$unb-honey: #ffc709;
$unb-citrus: #f5eb00;
$unb-green: #84bd00;
$unb-aqua: #78cbc4;
$unb-sky: #0085ef;
$unb-turquoise: #007fa3;
$unb-denim: #0044a5;
$unb-gray: #586770;

// Custom colours.
$unb-darkred: darken($unb-red, 5%);
$unb-darkerred: darken($unb-red, 15%);
$unb-darkgray: darken($unb-gray, 15%);
$unb-halfgray: #ececeb;
$unb-25gray: lighten($unb-gray, 25%);
$unb-halfaqua: darken($unb-aqua, 25%);
$unb-darkhoney: darken($unb-honey, 10%);
$unb-dturquoise: darken($unb-turquoise, 10%);
$unb-dmango: darken($unb-mango, 15%);
$unb-ddmango: darken($unb-dmango, 20%);
$unb-lmango: lighten($unb-mango, 50%);
$unb-dorange: darken($unb-orange, 15%);
$offwhite: #f8f9fa;
$doffwhite: darken($offwhite, 20%);
$lgray: #dee2e6;
$jc-orange: #a62500;
$nb-yellow: #f4c601;
$nb-red: #d32a27;
$nb-blue: #1a3c86;
$nb-dyellow: darken($nb-yellow, 5%);
$nb-lyellow: lighten($nb-yellow, 15%);
$nb-dred: darken($nb-red, 25%);
$nb-lred: lighten($nb-red, 8%);
$nb-dblue: darken($nb-blue, 15%);
$bg-shadow: #564f3c;
