// If you wish to compile/extend Bootstrap then uncomment line below and disable subtheme CDN
// @import '../../../../../vendor/unb-libraries/unb_lib_theme/assets/stylesheets/unblib';

// Global.

// Hide global things:
// User ID field.
// 'Show row height' buttons.
// Form field descriptions.
// Language (yabrm) field description.
// Text format help.
// User register and reset password links.
// Topics filter.
// Acount-edit links.
div.field--name-user-id,
button.tabledrag-toggle-weight,
div.description.help-block,
div#edit-language--wrapper--description,
div.form-item + div.filter-wrapper.form-inline.form-group.js-form-wrapper,
a[href='/user/register'],
a[href='/user/password'] {
  visibility: hidden;
}

// Don't display restricted account-edit toolbar links.
.toolbar-menu .account,
.toolbar-menu .account-edit {
  display: none;
}

// Branding.
.branding-container a {
  font-size: 28px;
}

// Page titles.
.page-header {
  font-size: 24px;
}

// Bibliographic reference lister columns.
#view-bibliographic-type-table-column,
#view-date-sort-table-column {
  width: 8rem;
}
#view-published-table-column,
#view-changed-table-column {
  width: 12rem;
}
#view-bibliographic-title-table-column {
  width: 24rem;
}
.views-field.views-field-search-api-operations > .links.btn-group.dropdown.open
> .dropdown-menu {
  position: absolute;
  left: -8rem;
}

// H1.
div.region-content > h1 {
  margin-top: 0 !important;
}

// Search button.
div#edit-actions {
  vertical-align: top;
}

// Search result.
.search-result {
  p {
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 1em;
    }
  }
}

// Banner.
div#nbbib-banner {
  margin-bottom: 20px;
  width: 100%;
  height: 180px;
  opacity: .7;
  background-image: url("/themes/custom/nbbib_lib_unb_ca/images/banner.jpg");
}

// Forms.
form {
  margin-top: 10px !important;
}

// Page title.
// Remove bottom padding/margins in contributors view.
h1.page-header {
  margin-bottom: 0px;
}
// Don't display space reserved for contextual filters.
div.view-id-nb_bibliography_contributors.view-display-id-page_1 > div.view-filters.form-group,
form#views-exposed-form-nb-bibliography-contributors-page-1 {
  display: none;
}

// Bibliography citation view - filter form.
// Full form.
form#views-exposed-form-nb-bibliography-citations-page-1 {
  margin-bottom: 30px;
}
// Hide topics filter.
form#views-exposed-form-nb-bibliography-citations-page-1 div.js-form-item-topics {
  display: none !important;
}

// Views (broad).
div.views-field div.container {
  margin-bottom: .5em;

  &:hover {
    background-color: WhiteSmoke;
  }

  & ~ div.views-field-description__value p {
    margin-bottom: 1em;
    padding-left: 15px;
    text-align: justify;
  }
}

// Contributors view.
// Hide contributor sort initial filter.
form#views-exposed-form-nb-bibliography-contributors-page-1 >
div.form--inline.form-inline.clearfix {
  display: none;
}
// Exposed form.
form.views-exposed-form:not(#views-exposed-form-nb-bibliography-contributors-page-1) {
  margin-top: 20px;
}
// Reduce spacing between title and alpha-pager.
div.attachment.attachment-before {
  line-height: 0;
}
ul.pagination.js-pager__items {
  margin-top: 0;
  margin-bottom: 2.5em;
}

// Navbar toggle.
button.navbar-toggle {
  max-height: 36px;
  max-width: 44px;

  &:after {
    font-size: 1.2em;
    position: relative;
    top: -16px;
    left: -60px;
    content: "Menu";
  }
}

// Apply sr-only CSS to main search label. Out of sight but screen-reader hit.
form#views-exposed-form-nb-bibliography-citations-page-2
label[for='edit-search-api-fulltext'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Navigation tabs.
.tabs--primary.nav.nav-tabs {
  margin-bottom: 10px;
}
nav.tabs {
  margin-top: 10px;
}

// Contributors alpha pager.
div.view-id-nb_bibliography_contributors.view-display-id-page_1 >
div.attachment-before {
  margin: auto;
  width: 96%;
}

// Reference entity display.
// Reference.
div.yabrm-reference {
  text-align: justify;

  & + div {
    display: none;
  }

  & h2 {
    font-size: 15px;
    font-weight: 600;
  }

  & div.indent-text {
    padding-left: 1.5em;
  }

  // Contained paragraphs.
  & p {
    margin-bottom: 0;
  }

  // Physical description.
  & #ref-physical * {
    display: inline;
  }
}
// All reference and contrib fields except when grouped.
div.yabrm-reference > dl > div:not(.dl-grouped),
div.yabrm-contributor > dl > div:not(.dl-grouped) {
  margin-top: 1em;
}
// Reference details.
div#ref-details {
  width: 100%;

  & > div {
    padding: 4px;
  }

  & > div:nth-of-type(odd) {
    background-color: WhiteSmoke;
  }

}
// Contributor.
#contrib-description {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: justify;
}
#contrib-picture {
  text-align: center;
  text-align: -webkit-center;
}
div.yabrm-contributor.contrib-layout div.row {
  margin-top: 1em;
  margin-bottom: 1em;
}

// View pager.
.pagination.js-pager__items {
  margin-top: 2rem !important;
}

// Footer.
div#footer-logo-div, div#footer-menu-div {
  padding-left: 0;
}
img#footer-logo-img {
  max-width: 260px;
}
footer.footer.container {
  padding-top: 15px;
}

/* Toolbar Vertical Orientation */
.toolbar-tray-vertical {
  .custom-editor-menu {
    /* Add space between long menu title text and toggle icon */
    margin-right: .25rem;
  }
}

// Button separation.
form#yabrm-book-edit-form button:not(:first-of-type),
form#yabrm-book-section-edit-form button:not(:first-of-type),
form#yabrm-journal-article-edit-form button:not(:first-of-type),
form#yabrm-thesis-edit-form button:not(:first-of-type) {
  margin-left: 1em !important;
}
// Draggable control separation.
td.field-multiple-drag {
  width: 2em !important;
}

// Responsive.
@media screen and (min-width: 768px) {
  // Filter (label + input) - First (Keywords).
  form#views-exposed-form-nb-bibliography-citations-page-1 > div >
  div:first-of-type {
    width: 96%;
  }
  // Filter (label + input).
  form#views-exposed-form-nb-bibliography-citations-page-1 > div > div,
  form#views-exposed-form-content-page-1 > div > div {
    margin-bottom: 8px;
    width: 48%;
  }
  // Label - First (Keywords).
  form#views-exposed-form-nb-bibliography-citations-page-1 > div >
  div:first-of-type > label {
    margin-right: .3%;
    width: 17%;
  }
  // Label.
  form#views-exposed-form-content-page-1 > div > div > label,
  form#views-exposed-form-nb-bibliography-citations-page-1 > div > div > label {
    margin-right: .5%;
    width: 34%;
  }
  // Input - First (Keywords).
  form#views-exposed-form-nb-bibliography-citations-page-1 > div >
  div:first-of-type > input {
    margin-right: 0;
    width: 80.5%;
  }
  // Input and select wrapper.
  form#views-exposed-form-content-page-1 > div > div > input,
  form#views-exposed-form-content-page-1 > div > div > div.select-wrapper,
  form#views-exposed-form-nb-bibliography-citations-page-1 > div > div > input,
  form#views-exposed-form-nb-bibliography-citations-page-1 > div > div >
  div.select-wrapper {
    margin-right: .5%;
    width: 60%;
  }
  // Select.
  form#views-exposed-form-content-page-1 > div > div > div > select,
  form#views-exposed-form-nb-bibliography-citations-page-1 > div > div > div >
  select {
    width: 100%;
  }
  // Button.
  form#views-exposed-form-nb-bibliography-citations-page-1 div#edit-actions {
    margin-top: 8px;
  }
  // Publication date fields.
  div#edit-publication-year-wrapper,
  div#edit-publication-month-wrapper,
  div#edit-publication-day-wrapper {
    & > div > label {
      margin-right: 1%;
      width: 15%;
    }
  }
}
@media screen and (max-width: 768px) {
  // Responsive select controls in search view.
  .form-item.js-form-item.form-type-select {
    display: grid;
  }
}
